<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java社区</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script type="application/javascript" src="/bootstrap/js/jquery.min.js"></script>
    <script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #efefef;">
<div th:insert="navgation :: nav"></div>

    <div class="container-fluid" style="margin: 30px 50px; background-color: #fff;">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
                <hr>
                <span th:text="${error}"></span>
                <form action="/pulish" method="post">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）：</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="问题标题...">
                    </div>

                    <div class="form-group">
                        <label for="description">问题补充（必填，请参照右侧提示）</label>
                        <textarea class="form-control" id="description" name="desciption" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" name="tag" class="form-control" id="tag" placeholder="输入标签，以，号分隔">
                    </div>

                    <button type="submit" class="btn btn-success">发布</button>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h3>问题发起指南</h3>
                &#8226; 问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
                &#8226; 问题补充：详细补充您的问题内容，并确保您的问题描述清晰直观，并提供相关的资料<br>
                &#8226; 选择标签：选择一个或多个合适标签，不超过10个字<br>
            </div>
        </div>
    </div>
</body>
</html>